:root {
    --primary-color: #018C7F;
    --primary-color-lighter: #019587;
    --primary-color-light: #04AB9B;
    --secondary-color: #F37321;
    --secondary-color-light: #FFE3D0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* global */

.controller_select_container {
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
    overflow-x: hidden;
}

.btn {
    padding: 10px;
    color: #fff;
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.btn--primary {
    background-color: var(--primary-color);
}

.btn--secondary {
    background-color: var(--secondary-color);
}


button.disable {
    opacity: 0.2;
    cursor: not-allowed;
}

.controller_select_wrapper a {
    color: var(--secondary-color);
}

.flex_items {
    display: flex;
}

.justify_content_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

.controller_select_wrapper input:not([type="checkbox"]),
.controller_select_wrapper select,
.controller_select_wrapper textarea {
    padding: 15px 10px;
    background: var(--secondary-color-light);
    border: none;
    outline: 0;
}

.controller_select_wrapper .range_wrapper {
    position: relative;
}


.controller_select_wrapper input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, var(--secondary-color)), color-stop(100%, var(--secondary-color)));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    outline: none;
    opacity: 0.8;
    margin: 60px 0px 15px;
    padding: 0;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
}

.controller_select_wrapper input[type="range"]:hover {
    opacity: 1;
}

.controller_select_wrapper input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    background: #f3f3f3;
    border: 1px solid rgb(173, 173, 173);
    margin-top: -13px;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.controller_select_wrapper input[type="range"]::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.controller_select_wrapper datalist {
    display: flex;
    justify-content: space-between;
}

.controller_select_wrapper .range_tooltip {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 50px;
    height: 30px;
    background: var(--primary-color);
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.2s ease;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
    -ms-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
}

.controller_select_wrapper .range_tooltip::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-top: 10px solid var(--primary-color);
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
}

/* wrapper */

.controller_select_wrapper .controller_select_wrapper_inner {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding-top: 100px;
    background: #e4e4e4;
    position: relative;
}

/* tab selector divs */

.controller_select_wrapper .controller_tab_selector_list {
    background: var(--primary-color);
    border-bottom: 10px solid var(--secondary-color);
    margin-left: -30px;
    margin-right: -30px;
    position:relative;
    height: 100px;
}

.controller_select_wrapper .controller_tab_selector_list::before,
.controller_select_wrapper .controller_tab_selector_list::after {
    content: "";
    position: absolute;
    bottom: -70px;
    left: 0;
    border-top: 30px solid var(--primary-color-light);
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    z-index: -1;
}

.controller_select_wrapper .controller_tab_selector_list::before {
    left: 0;
}

.controller_select_wrapper .controller_tab_selector_list::after {
    right: 0;
}



.controller_select_wrapper .controller_tab_selector_list .controller_select_container {
    display: flex;
    height: 100%;
}

.controller_select_wrapper .tab_selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--primary-color-light);
    margin: 0px 0px 0px 8px;
    padding: 20px 10px;
    cursor: pointer;
}

.controller_select_wrapper .tab_selector.current {
    background: var(--secondary-color);
}

.controller_select_wrapper .tab_selector img {
    width: 40px;
}

.controller_select_wrapper_hidden_banner {
    background-color: var(--primary-color-lighter);
    border-bottom: 10px solid var(--secondary-color);
    position: absolute;
    top: 130px;
    left: -20%;
    right: -20%;
    height: 100px;
    z-index: -1;
}

.controller_tab {
    display: none;
}

.controller_tab.show {
    display: block;
}

.controller_tab {
    min-height: 300px
}

.controller_tab_steps_indicator {
    display: flex;
    justify-content: space-between;
    height: 5px;
    background: #f3f3f3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, var(--secondary-color)), color-stop(100%, var(--secondary-color)));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    margin-top: 30px;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.controller_tab .step {
    background-color: #f3f3f3;
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15px 0px;
}

.controller_tab .step.current {
    background-color: var(--secondary-color);
    color: #fff;
}

/* inner tabs */

.tab_inner_details {
    display: flex;
    margin-top: 20px;
    transition: transform 0.4s linear;
    -webkit-transition: transform 0.4s linear;
    -moz-transition: transform 0.4s linear;
    -ms-transition: transform 0.4s linear;
    -o-transition: transform 0.4s linear;
}

.tab_inner_details .inner_tab {
    background-color: #fff;
    width: 100%;
    flex: 0 0 100%;
}

.inner_tab_controls {
    margin-top: 20px;
}


/* end inner tabs */

.input_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.input_group > div {
    display: flex;
    flex-direction: column;
}

.input_group label {
    font-size: 12px;
    color: rgb(105, 105, 105);
    margin: 0px 10px;
}

.input_group_inner {
    width: 100%;
    margin: 10px;
}

.form_inner {
    padding: 10px 30px;
}

/*choose by application */

.application_dropdown {
    background-color: #e4e4e4;
    padding-top: 40px;
}

.applications_placeholder {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.applications_placeholder p {
    padding-left: 10px;
    color: #7e7e7e;
    cursor: pointer;
}
.applications_placeholder .fas {
    text-align: right;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
}
.application_dropdown ul {
    margin: 0;
    padding-inline-start: 0;
    padding: 10px 0px;
    position: relative;
    margin-top: 40px;
    background-color: #ffff;
}

.application_dropdown ul::before {
    content: "";
    position: absolute;
    top: -40px;
    right: 20px;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ffffff;
    border-left: 20px solid transparent;
}

.application_dropdown li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.application_dropdown li:not(:last-child) {
    border-bottom: 1px solid rgb(134, 134, 134);
}

.application_dropdown img {
    width: 30px;
}

/* tab 2*/

.application_input_options {
    padding: 30px;
}

.application_input_options div input,
.application_input_options div select,
.application_input_options div > div {
    flex: 1;
}

.controller_select_wrapper input[type="checkbox"] {
    max-width: 80px;
    min-width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: var(--secondary-color-light);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
}

.controller_select_wrapper input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: var(--primary-color);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.controller_select_wrapper input[type="checkbox"]::after {
    content: "\f00c";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: 5px;
    color: #000;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.controller_select_wrapper input:checked[type="checkbox"]::after {
    content: "\f00d";
    left: 10px;
    color: #fff;
}

.controller_select_wrapper input:checked[type="checkbox"] {
    background: var(--secondary-color);
}

.controller_select_wrapper input:checked[type="checkbox"]::before {
    left: calc(100% - 35px);
}

/* tab 3 */

.controller_results {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.controller_results_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller_results_left img {
    width: 50%;
}

ul.results_list {
    list-style: none;
}

.controller_results_right ul {
    max-height: 600px;
    overflow-y: scroll;
}
/* choose by motor */

.calculated_loads {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f3f3f3;
}

.calculated_load {
    flex: 1;
    text-align: center;
}

.calculated_load h2 {
    color: var(--secondary-color);
    font-size: 50px;
    margin: 0;
}

.calculated_load p {
    font-weight: bold;
}

.choose_by_motor_results {
    overflow-y: hidden;
}

.choose_motor_results {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.choose_motor_results img {
    width: 80%;
    display: block;
    margin: 40px auto;
}

@media(max-width: 768px) {
    .controller_select_wrapper .tab_selector img {
        display: none;
    }

    .tab_selector strong {
        font-size: 14px;
    }

    .application_input_options {
        grid-template-columns: 1fr;
    }

    .controller_results {
        grid-template-columns: 1fr;
    }

    .input_group {
        flex-direction: column;
    }
}